*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --brightCyan: #2bb7da;
    --limeGreen: #31d35c;
    --darkBlue: hsl(233, 26%, 24%);
    --grayishBlue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    
}

body{
    font-size: 1rem;
    font-family: 'Public Sans', sans-serif;

    background: rgb(250,250,250);
}

/* 
=================================================
HEADER NAVIGATIONS CUSTOM STYLING================
=================================================
*/
.request-invite, .request-invite-header{
    font-weight: bold;
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    padding-top: .6em;

    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 78%);;
}

.request-invite:hover, .request-invite-header:hover{
    opacity: 65%;
}

.navbar-expand-lg{
    height: 10vh;
}

.header-nav a{
    margin-right: 1em;
}

.header-nav img{
    margin-left: 2em;
}

.careers{
    margin-right: -1em;
}

.header-nav a:hover{
    color: black;
    font-weight: bold;
    border-bottom: 4px solid var(--limeGreen);
}

/* 
=================================================
HEADER NAVIGATIONS CUSTOM STYLING================
=================================================
*/


/* 
============================================
SECTION 1 STYLING STARTS HERE================
============================================
*/

.section1 .col1{
    padding-right: 2em;
}

.section1 .col2{
    background: url(/images/bg-intro-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 710px;
    overflow: hidden;

    height: 700px;
    /* 
    ================================
    Applying a high z-index to col2 of section 1 so section 2 goes behind it as seen in the UI
    */
    z-index: 20;
}


/* 
=============================
Applying translation below to move the mobile icon images to the right and top
*/

.section1 .col2 img{
    transform: translate(.2%, -13%);
}



/* 
============================================
SECTION 1 STYLING ENDS HERE================
============================================
*/


/* 
============================================
SECTION 2 STYLING STARTS HERE================
============================================
*/
.section2{
    background: var(--light-grayish-blue);
    padding-top: 3em;
    padding-bottom: 2em;

    /* 
===================================
Applying translation to section 2 below to move the parent container closer to col2 of section 1 as illlustrated in the provided UI design.
*/
transform: translateY(-25%);
/* overflow-y: hidden; */
/* 
After applying translate
*/
}

.why-us{
    width: 50%;
}

/* 
============================================
SECTION 2 STYLING STARTS HERE================
============================================
*/



/* 
============================================
SECTION 3 STYLING STARTS HERE================
============================================
*/
.section3{
    margin-top: -8em;
    background: white;
}

.section3 .card-body{
    background: white;
}

.section3 .card-title{
    width: 110%;
}

.section3 .card-title:hover{
   color: var(--limeGreen);
   cursor: pointer;
}

/* 
============================================
SECTION 3 STYLING ENDS HERE================
============================================
*/


/* 
=============================================
FOOTER STYLING STARTS HERE===================
=============================================
*/
.footer{
    background: rgb(45,49,78);
}

.footer-rights{
    color: rgb(185, 180, 180);
}

.footer a{
    text-decoration: none;
    color: rgb(185, 180, 180);
    line-height: 2em;
}

.footer a:hover{
    color: var(--limeGreen);
}

.footer-logo-container img{
    width: 13px;
}

.footer-logo-container img:hover{
    cursor: pointer;
    background: #31d35c;
}

.footer .request-invite{
    margin-left: 3em;
}


/* 
=============================================
FOOTER STYLING ENDS HERE===================
=============================================
*/








/* 
===============================================
MEDIA QUERIES FOR MAX-WIDTH START HERE=======================
===============================================
*/
@media screen and (max-width: 990px){
    /* 
    ========================
    header styling
    */
    .header-nav img{
        margin-left: 0;
    }

    .navbar-expand-lg{
        height: auto;
        text-align: center;
    }


    .request-invite-header{
        display: none;
    }

    .header-nav a:hover{
        border-bottom: none;
    }

    

    /* 
    ===============================
    section 1 styling
    */
    .section1{
        margin-bottom: 5em;
    }

    .section1 .row{
        flex-direction: column-reverse;
    }

    .section1 .col2 img{
        width: 100%;
        height: 400px;
        transform: translateX(0);
        transform: translateY(-29%);
    }

    .section1 .col2{
        overflow-y: hidden;
        z-index: 0;

        background: url(/images/bg-intro-mobile.svg);
        background-position: start;
        background-repeat: no-repeat;
        background-size: 280px;
        overflow: hidden;

        height: 300px;
    }

    .section1 .col1{
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
    }


    


    

    /* 
    ================================
    section 2 styling
    */

    .section2{
        text-align: center;
        transform: translateY(0);
        padding-left: 12px;
        padding-right: 12px;
    }

    .why-us{
        width: 100%;
        text-align: center;
    }
}


/* 
    ================================
    section 3 styling
    */

    .section3{
        text-align: start;
        background: var(--very-light-gray);
    }

    .section3 h2{
        margin-top: 6em;
        text-align: center;
    }

    .section3 .card-body{
        padding-right: 3em;
    }

    .section3 .card-title{
        width: 100%;
    }

    .section3 .card-a, .card-b, .card-c{
        margin-bottom: 1.5em;
    }


    /* 
        ================================
        footer styling
        */
    .footer{
        text-align: center;
        padding-bottom: 2em;
        margin-top: 2em;

        padding-right: 48px;
    }

    .footer svg{
        margin-bottom: 1em;
    }

    .footer .col3-navs{
        margin-left: auto;
        margin-top: -1em;
    }

    .footer-logo{
        /* margin-right: -48px; */
    }

    .footer .request-invite{
        margin-left: 0;
    }

    .bottom-content{
        /* padding-left: 48px; */
    }

    .footer .request-invite{
        /* margin-left: auto; */
    }


    .footer-logo-container{
        display: flex;
        justify-content: center;
        gap: 1.5em;

        margin-bottom: 1em;
    }


/* 
===============================================
MEDIA QUERIES ENDS HERE=======================
===============================================
*/



/* 
===============================================
MEDIA QUERIES FOR MIN-WIDTH START HERE=======================
===============================================
*/
@media screen and (min-width: 1000px){

    .footer{
        text-align: start;

    }

    .footer .col2-navs{
        margin-left: 2em;
        padding-top: 0;
    }

    .footer .col3-navs{
        margin-left: -5em;
        padding-top: 1em;
    }

    .bottom-content{
        margin-left: -3em;
    }

    .footer-rights{
        margin-left: -3em;
    }

    .footer-logo-container{
        margin-left: 0;
    }

    .section3 h2{
        margin-top: .5em;
        text-align: left;
    }
}