*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --brightCyan: #2bb7da;
    --limeGreen: #31d35c;
    --darkBlue: hsl(233, 26%, 24%);
    --grayishBlue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    
}

body{
    font-size: 1rem;
    font-family: 'Public Sans', sans-serif;

    background: rgb(250,250,250);
}

/* 
=================================================
HEADER NAVIGATIONS CUSTOM STYLING================
=================================================
*/
.request-invite, .request-invite-header{
    font-weight: bold;
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    padding-top: .6em;

    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 78%);;
}

.request-invite:hover{
    opacity: 70%;
}

.navbar-expand-lg{
    height: 10vh;
}

.header-nav a{
    margin-right: 1em;
}

.header-nav img{
    margin-left: 2em;
}

.careers{
    margin-right: -1em;
}

.header-nav a:hover{
    color: black;
    font-weight: bold;
    border-bottom: 4px solid var(--limeGreen);
}

/* 
=================================================
HEADER NAVIGATIONS CUSTOM STYLING================
=================================================
*/







/* 
===============================================
MEDIA QUERIES START HERE=======================
===============================================
*/
@media screen and (max-width: 990px){
    /* 
    ========================
    header styling
    */
    .header-nav img{
        margin-left: 0;
    }

    .navbar-expand-lg{
        height: auto;
        text-align: center;
    }

    .navbar-nav{
        border: 2px solid black;
        background: white;
        
        /* width: 80vw; */
    }

    .request-invite-header{
        display: none;
    }

    .header-nav a:hover{
        border-bottom: none;
    }

}


/* 
===============================================
MEDIA QUERIES ENDS HERE=======================
===============================================
*/